@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.box{
	width: 40%;
	height: 20%;
	background-color: #87CEFA;
	margin: 0 auto;
	align-items: center;
	border-radius: 20px;
	left: 50%;
	top: 50%;
	

}
.texto{
	font-size: 90;
}

.container{
	display: flex;
    border: 2px solid red;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ecf0f1;
}

.btn{
	display: flex;
	border-radius: 15px;
	text-transform: uppercase;
	color:#ecf0f1;
	font-size: 12px;
	padding: 10px 50px;
	cursor: pointer;
	
	
}

.btn-primary{
	background-color: transparent;
	border: 1px solid #fff;
	
}
.btn-primary:hover{
	background-color: #fff;
	color: #87CEFA;
}
